* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 250px;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.text {
  width: 200px;
  height: 100px;
  overflow-y: auto;
}